/* =================================================================== */
/* ------------------------------ Button ----------------------------- */
/* =================================================================== */

/*----- Button -----*/
.btn {
  padding: 0.5rem 1.5rem;
  background-color: var(--clr-block);
  border: none;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--clr-accent);
  cursor: pointer;
  @include borderRadius(1rem);
  @extend .d-flex-between;

  .sprite-icon {
    margin-left: 0.5rem;
    fill: var(--clr-accent);
  }

  &:disabled {
    color: var(--clr-basicLL);
    cursor: default;
  }

  &:not([disabled]):hover,
  &:not([disabled]):active,
  &:not([disabled]):focus,
  &:not([disabled]).active {
    background-color: var(--clr-accent);
    color: var(--clr-block);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;

    .sprite-icon {
      fill: var(--clr-block);
    }
  }
}


/*----- Link -----*/
a {
  font-size: 0.75rem;
  color: var(--clr-basic);
  text-decoration: none;
  @extend .d-flex;
  @extend .align-items-center;

  .sprite-icon {
    width: 1rem;
    fill: var(--clr-basic);
  }

  &:disabled {
    color: var(--clr-basicLL);
    cursor: default;
  }

  &:not([disabled]):hover,
  &:not([disabled]):active,
  &:not([disabled]):focus,
  &:not([disabled]).active {
    color: var(--clr-accent);

    .sprite-icon {
      fill: var(--clr-accent);
    }
  }
}