/* =================================================================== */
/* ----------------------------- General ----------------------------- */
/* =================================================================== */

h1,
h2,
h3,
h4 {
  margin: 0;
}


h1 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--clr-basicD);
}

h2 {
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--clr-basicG);
}

h3,
h4 {
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--clr-basicG);
}

h4 {
  font-weight: 600;
}

.m-0 {
  margin: 0 !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}


.d-flex-center {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}

.d-flex-between {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-between;
}

.d-flex-end {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-end;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.font-weight-normal {
  font-weight: 400;
}

.sprite-icon {
  width: 15px;
  height: 15px;
  transition: all 0.1s;
}

.round {
  @include borderRadius(50%);
}