/* =================================================================== */
/* ------------------------------ Layout ----------------------------- */
/* =================================================================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--clr-back);
  font-family: $proNova;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: var(--clr-basic);
}

header {
  height: 53px;
  padding: 0.625rem 1.5rem;
  background-color: var(--clr-block);
  -webkit-box-shadow: 0 0 8px 0 rgba(225, 232, 230, 0.68);
  -moz-box-shadow: 0 0 8px 0 rgba(225, 232, 230, 0.68);
  box-shadow: 0 0 8px 0 rgba(225, 232, 230, 0.68);

  .logo {
    height: 25px;
    display: block;
  }

  .nav {
    border-left: 1px solid #f3f3f7;
    font-weight: bold;

    &__link {
      padding: 0 1.25rem;
    }

    .arrow-down {
      width: 0.5rem;
      fill: var(--clr-accent);
    }

    .user-avatar {
      width: 1.7rem;
      height: 1.7rem;
      cursor: pointer;
    }
  }

  .notification {
    position: relative;
    display: inline-flex;
    cursor: pointer;

    .sprite-icon {
      fill: var(--clr-basicL);
    }

    .badge {
      position: absolute;
      right: -0.5rem;
      top: -0.5rem;
      width: 1rem;
      height: 1rem;
      background-color: var(--clr-badge);
      font-size: 0.625rem;
      font-weight: 600;
      line-height: 1rem;
      color: var(--clr-block);
      text-align: center;
    }

    &:hover {
      .sprite-icon {
        fill: var(--clr-accent);
      }
    }
  }
}

.container {
  padding: 2.25rem 150px 1.5rem;
  font-size: 0.75rem;
}

.section {
  &__selected {
    padding: 0.75rem 1rem 0.75rem 1.25rem;
    margin-top: 3rem;
    background-color: rgba(19, 175, 125, 0.1);
    @include borderRadius(4px);

    h2 {
      font-weight: 600;
      color: var(--clr-basic);
    }

    .btn {
      padding: 0.5rem 0.75rem;
      background-color: transparent;
    }
  }
}

.search {
  padding: 0.75rem;
  background-color: var(--clr-block);
  @include borderRadius(4px);

  &__wrapper {
    flex-wrap: wrap;
  }

  &__item {
    padding: 0.25rem;
    margin: 0.125rem 0.5rem 0.125rem 0;
    background-color: var(--clr-back);
    @include borderRadius(4px);
    @extend .d-flex-center;

    span {
      margin-left: 0.75rem;
      font-weight: 600;
    }

    &__close {
      width: 1rem;
      height: 1rem;
      background-color: var(--clr-block);
      cursor: pointer;
      @extend .round;
      @extend .ml-3;
      @extend .d-flex-center;

      .sprite-icon {
        width: 0.3rem;
        height: 0.3rem;
        fill: var(--clr-accent);
      }

      &:not([disabled]):hover {
        background-color: var(--clr-accent);

        .sprite-icon {
          fill: var(--clr-block);
        }
      }
    }
  }

  .btn {
    padding: 0.5rem 1rem;
  }
}

.table {
  margin-top: 1.25rem;

  &__header {
    padding: 0.75rem 0 0.75rem 1rem;
    font-weight: bold;
    color: var(--clr-basicG);

    .page-nav {
      width: 1.25rem;
      height: 1.25rem;
      background-color: var(--clr-block);
      cursor: pointer;
      @include borderRadius(4px);

      .sprite-icon {
        width: 0.5rem;
        height: 0.5rem;
        fill: var(--clr-accent);
      }

      &:not(.disabled):hover {
        background-color: var(--clr-accent);

        .sprite-icon {
          fill: var(--clr-block);
        }
      }
    }
  }

  &__item {
    height: 3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--clr-block);
    @include borderRadius(4px);

    .btn {
      padding: 0.5rem 0.75rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}