$icons: (
	sprite: (width: 135px, height: 120px, svgPath: '../../img/sprite.svg'),
 	arrow-down: (width: 9.6px, height: 6px, backgroundX: 0px, backgroundY: 0px),
 	arrow-right: (width: 4.95px, height: 8.01px, backgroundX: -10px, backgroundY: -6px),
 	close: (width: 5px, height: 5px, backgroundX: -15px, backgroundY: -15px),
 	dashboard: (width: 15px, height: 12px, backgroundX: -20px, backgroundY: -20px),
 	export: (width: 13px, height: 13px, backgroundX: -35px, backgroundY: -32px),
 	filter: (width: 12px, height: 12px, backgroundX: -48px, backgroundY: -45px),
 	highlight: (width: 13px, height: 13px, backgroundX: -60px, backgroundY: -57px),
 	notification: (width: 16px, height: 17px, backgroundX: -73px, backgroundY: -70px),
 	report: (width: 15px, height: 13px, backgroundX: -89px, backgroundY: -87px),
 	show: (width: 16px, height: 10px, backgroundX: -104px, backgroundY: -100px),
 	submit: (width: 15px, height: 9.5px, backgroundX: -120px, backgroundY: -110px),
);
