$icons: (
	sprite: (width: 140px, height: 129px, svgPath: '../../img/sprite.svg'),
 	arrow-down: (width: 9.6px, height: 6px, backgroundX: 0px, backgroundY: 0px),
 	arrow-left: (width: 4.95px, height: 8.01px, backgroundX: -10px, backgroundY: -6px),
 	arrow-right: (width: 4.95px, height: 8.01px, backgroundX: -15px, backgroundY: -15px),
 	close: (width: 5px, height: 5px, backgroundX: -20px, backgroundY: -24px),
 	dashboard: (width: 15px, height: 12px, backgroundX: -25px, backgroundY: -29px),
 	export: (width: 13px, height: 13px, backgroundX: -40px, backgroundY: -41px),
 	filter: (width: 12px, height: 12px, backgroundX: -53px, backgroundY: -54px),
 	highlight: (width: 13px, height: 13px, backgroundX: -65px, backgroundY: -66px),
 	notification: (width: 16px, height: 17px, backgroundX: -78px, backgroundY: -79px),
 	report: (width: 15px, height: 13px, backgroundX: -94px, backgroundY: -96px),
 	show: (width: 16px, height: 10px, backgroundX: -109px, backgroundY: -109px),
 	submit: (width: 15px, height: 9.5px, backgroundX: -125px, backgroundY: -119px),
);
