$icons: (
	sprite: (width: 76px, height: 63px, svgPath: '../../img/sprite.svg'),
 	arrow-down: (width: 9.6px, height: 6px, backgroundX: 0px, backgroundY: 0px),
 	close: (width: 5px, height: 5px, backgroundX: -10px, backgroundY: -6px),
 	dashboard: (width: 15px, height: 12px, backgroundX: -15px, backgroundY: -11px),
 	notification: (width: 16px, height: 17px, backgroundX: -30px, backgroundY: -23px),
 	report: (width: 15px, height: 13px, backgroundX: -46px, backgroundY: -40px),
 	submit: (width: 15px, height: 9.5px, backgroundX: -61px, backgroundY: -53px),
);
