.icon {
	height: 1em;
	display: inline-block;
	fill: currentColor;
}

.icon-arrow-down {
	width: (9.6/6)*1em;
	font-size: (6/16)*1rem;
}

.icon-arrow-right {
	width: (4.95/8.01)*1em;
	font-size: (8.01/16)*1rem;
}

.icon-close {
	width: (5/5)*1em;
	font-size: (5/16)*1rem;
}

.icon-dashboard {
	width: (15/12)*1em;
	font-size: (12/16)*1rem;
}

.icon-export {
	width: (13/13)*1em;
	font-size: (13/16)*1rem;
}

.icon-filter {
	width: (12/12)*1em;
	font-size: (12/16)*1rem;
}

.icon-highlight {
	width: (13/13)*1em;
	font-size: (13/16)*1rem;
}

.icon-notification {
	width: (16/17)*1em;
	font-size: (17/16)*1rem;
}

.icon-report {
	width: (15/13)*1em;
	font-size: (13/16)*1rem;
}

.icon-show {
	width: (16/10)*1em;
	font-size: (10/16)*1rem;
}

.icon-submit {
	width: (15/9.5)*1em;
	font-size: (9.5/16)*1rem;
}

